* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1px;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Futura PT";
  font-size: 32rem;
  line-height: 38.4rem;
  letter-spacing: 0.8rem;
  color: #fff;
  font-weight: bold;
}

h2 {
  font-family: "Futura PT";
  font-size: 15rem;
  line-height: 20rem;
  letter-spacing: 0.2rem;
  color: #fff;
  font-weight: 900;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 20rem;
  line-height: 28.8rem;
  color: #333;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  font-size: 16rem;
  line-height: 30rem;
  letter-spacing: 0.4rem;
  color: #c00;
  border-bottom: 1rem dotted #c00;
  transition: 0.3s;
}
a:hover {
  color: #333;
  border-bottom: 1rem dotted #333;
}

a:hover {
  text-decoration: none;
}

.button {
  font-family: "Futura PT";
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: #c00;
  color: #fff;
  text-transform: uppercase;
  font-size: 20rem;
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  border: none;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1150rem;
  margin: 0 8px;
  width: 100%;
}

.wrap {
  width: 100%;
}

.link {
  display: flex;
  justify-content: center;
  margin: 30rem 0;
}
.link .button {
  width: 100%;
  height: 63rem;
  border: none;
}
.link .button:hover {
  color: #fff;
  border: none;
}

/* foundation */
.header {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1rem solid #F0F0F0;
}
.header .container {
  max-width: 1440rem;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-link {
  background: #CC0000;
  color: #fff;
  text-transform: uppercase;
  padding: 8rem;
  font-weight: 900;
  font-family: "Futura PT";
  font-size: 28rem;
  border: none;
}
.header-link:hover {
  color: #fff;
  border: none;
}
.header-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 32rem;
  background: none;
}
.header-burger svg {
  width: 19rem;
  height: 15rem;
  fill: #CC0000;
}

.basic {
  margin-top: 87rem;
  display: flex;
  justify-content: center;
}
.basic-info {
  padding: 16rem 32rem;
  background: rgba(0, 0, 0, 0.9);
  border: 1rem solid #c00;
  display: flex;
  flex-direction: column;
  gap: 15rem 0;
  width: 100%;
}
.basic-wrap h1 {
  text-align: center;
}
.basic-wrap h2 {
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 70rem;
}
.about-wrap {
  display: flex;
  flex-direction: column;
  gap: 38rem 0;
}
.about p {
  font-family: "Libre Baskerville", serif;
  font-size: 16rem;
  line-height: 30rem;
  letter-spacing: 0.4rem;
  color: #232323;
  width: 100%;
  font-weight: 400;
}
.about p span {
  font-family: "Libre Baskerville", serif;
  font-size: 16rem;
  line-height: 30rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  color: #232323;
}
.about img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 450rem;
}
.about figure figcaption {
  font-family: "Libre Baskerville", serif;
  font-size: 12rem;
  line-height: 20.8rem;
  color: #333;
  text-align: center;
  width: 100%;
}
.about ul {
  margin-left: 60rem;
  display: flex;
  flex-direction: column;
  gap: 16rem 0;
}
.about ul li {
  font-family: "Libre Baskerville", serif;
  font-size: 16rem;
  line-height: 30rem;
  letter-spacing: 0.4rem;
  font-size: #232323;
  width: 100%;
  font-weight: 400;
}
.about ul li::marker {
  color: #c00;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 38rem;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 38rem 0;
}
.form img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 450rem;
}
.form figure figcaption {
  font-family: "Libre Baskerville", serif;
  font-size: 12rem;
  line-height: 20.8rem;
  color: #333;
  text-align: center;
  width: 100%;
}
.form p {
  font-family: "Libre Baskerville", serif;
  font-size: 16rem;
  line-height: 30rem;
  letter-spacing: 0.4rem;
  color: #232323;
  width: 100%;
  font-weight: 400;
}
.form p span {
  font-family: "Libre Baskerville", serif;
  font-size: 16rem;
  line-height: 30rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
}
.form-countdown {
  text-align: center;
  color: #c00 !important;
}
.form-item {
  width: 500rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20rem 0;
}
.form-item input {
  background-color: #fff;
  padding: 8rem;
  height: 39rem;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.06rem;
  border: 1rem solid #a8a8a8;
  color: #848484;
  border-radius: 0;
  width: 100%;
}
.form-item button {
  width: 100%;
  height: 63rem;
}
.form h3:last-child {
  text-align: center;
}
.form h3:last-child span {
  color: #c00;
}

.comments {
  margin-top: 70rem;
  display: flex;
  justify-content: center;
}
.comments-list {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 25rem 0;
}
.comments-list__item {
  display: flex;
  align-items: flex-start;
  gap: 0 20rem;
  border-top: 1rem solid #F0F0F0;
  padding-top: 20rem;
}
.comments-list__item-avatar {
  width: 50rem;
  height: 50rem;
}
.comments-list__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem 0;
}
.comments-list__item-info p {
  font-family: "Libre Baskerville", serif;
  font-size: 16rem;
  line-height: 30rem;
  letter-spacing: 0.4rem;
  color: #232323;
  width: 100%;
  font-weight: 400;
  margin-top: 15rem;
}
.comments-list__item-info p:nth-of-type(1) {
  font-family: "Libre Baskerville", serif;
  font-size: 11rem;
  letter-spacing: 0.4rem;
  font-weight: 400;
  margin-top: 0;
  line-height: inherit;
}
.comments-list__item-info p:nth-of-type(2) {
  font-family: "Libre Baskerville", serif;
  font-size: 16rem;
  line-height: 30rem;
  letter-spacing: 0.4rem;
  color: #232323;
  width: 100%;
  font-weight: 700;
  margin-top: 0;
  line-height: inherit;
}
.comments-list__item-info img {
  height: 300rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 15rem;
  -o-object-position: left;
     object-position: left;
}
.comments-list__item-answer {
  margin-left: 70rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.popup-before {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: -1;
}
.popup-wrap {
  padding: 50rem 70rem;
  background: #FFFFFF;
  border-radius: 5rem;
  position: relative;
  z-index: 1;
  margin: 0 8px;
}
.popup-wrap h3 {
  text-align: center;
}
.popup-out {
  position: absolute;
  font-size: 48rem;
  right: 25rem;
  top: 25rem;
  cursor: pointer;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-item {
  display: flex;
  flex-direction: column;
  gap: 15rem 0;
  margin: 30rem 0 0 0;
}
.popup-item p {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  font-size: 12rem;
  color: #282728;
}
.popup-item input {
  background-color: #fff;
  padding: 8rem;
  height: 39rem;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.06rem;
  border: 1rem solid #a8a8a8;
  color: #848484;
  border-radius: 0;
  width: 100%;
  margin-top: 5rem;
}
.popup-item button {
  width: 100%;
  height: 63rem;
}

.footer {
  background: #2B3139;
  display: flex;
  justify-content: center;
  padding: 32rem 0 0 0;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  background: #CC0000;
  color: #fff;
  text-transform: uppercase;
  padding: 8rem;
  font-weight: 900;
  font-family: "Futura PT";
  font-size: 28rem;
  border: 1rem solid #fff;
}
.footer-link:hover {
  color: #fff;
  border: 1rem solid #fff;
}
.footer-link__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem 0;
}
.footer-link__note {
  font-size: 9rem;
  letter-spacing: 0.88rem;
  font-weight: book;
  color: #fff;
}
.footer-note {
  font-size: 12rem;
  letter-spacing: 0.7rem;
  font-weight: book;
  color: #fff;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 0.3125vw;
    overflow-x: hidden;
  }
  h1 {
    font-size: 24rem;
    line-height: inherit;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 14rem;
    line-height: inherit;
  }
  h3 {
    font-size: 16rem;
    line-height: inherit;
    text-align: center;
  }
  a {
    font-size: 14rem;
    line-height: inherit;
  }
  button {
    font-size: 16rem;
    line-height: inherit;
  }
  .header-link {
    font-size: 20rem;
  }
  .basic-info {
    padding: 8rem 16rem;
  }
  .about {
    margin-top: 40rem;
  }
  .about-wrap {
    gap: 15rem 0;
  }
  .about p {
    font-size: 14rem;
    line-height: inherit;
  }
  .about p span {
    font-size: 14rem;
    line-height: inherit;
  }
  .about img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about figure figcaption {
    line-height: inherit;
  }
  .about ul {
    margin-left: 20rem;
    gap: 8rem 0;
  }
  .about ul li {
    font-size: 14rem;
    line-height: inherit;
  }
  .about-list__title {
    text-align: left;
  }
  .form {
    margin-top: 20rem;
  }
  .form-wrap {
    gap: 20rem 0;
  }
  .form img {
    height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .form figure figcaption {
    line-height: inherit;
  }
  .form figure img {
    height: 300rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .form p {
    font-size: 14rem;
    line-height: inherit;
  }
  .form p span {
    font-size: 14rem;
    line-height: inherit;
  }
  .form-item {
    width: 100%;
  }
  .comments {
    margin-top: 40rem;
  }
  .comments-list__item {
    gap: 0 10rem;
  }
  .comments-list__item-avatar {
    width: 35rem;
    height: 35rem;
  }
  .comments-list__item-info p {
    font-size: 12rem;
    line-height: inherit;
  }
  .comments-list__item-info img {
    width: 100%;
    height: 250rem;
    margin-top: 0;
  }
  .comments-list__item-answer {
    margin-left: 45rem;
  }
  .popup-wrap {
    padding: 15rem;
  }
  .popup-out {
    right: 0;
    top: -30rem;
    color: #fff;
  }
  .footer-wrap {
    flex-direction: column;
    gap: 15rem 0;
  }
  .footer-link {
    font-size: 20rem;
  }
  .footer-note {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */